extends layout.pug

block content
  .container
    .alert.alert-info#wrongTenant(style="display: none") You are not a user of this tenant, so you cannot view this tab.
  .container
    br
    if tenant
        p.heading-text Bugs Submitted by #{tenant.name}
        p.validation-progress.centered
        p#tenantId(style="display: none") #{tenant.tid}
    else
        p.heading-text Bugs Submitted by a test tenant
        p.validation-progress.centered
        p#tenantId(style="display: none") aaaa-aaaa-aaaa-aaaa-aaaa

    br

    .container
        table.table.table-bordered.table-responsive.table-striped.hugeTable#bugsTable
            thead(style="display: table-header-group;")
                tr
                    th(scope="col") ID
                    th(scope="col") Reported
                    th(scope="col") Title
                    th(scope="col") Submitter
                    th(scope="col") State
                    th(scope="col") Status Tweet
                    //th(scope="col") Triaged?
                    th(scope="col", style="display: none") Comments
                    th(scope="col", style="display: none") Repro Steps
                        
            tbody


    #bug-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='commentLabel', aria-hidden='true')
      #bug-id(style="display: none") Test
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title#bugLabelHeader
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true')
                i.fa.fa-times
          .modal-body
            span#bug-reproSteps
            //#existingComments
                //p Comments:
                //br
                //p No comments submitted yet.
                br
            //br
            //input.text#commentField(placeholder="Write a comment...")
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
            //button.btn.btn-secondary(type='button', data-dismiss="modal") Cancel
            //button.btn.btn-default#submitComment(type='button', data-dismiss="modal") Submit
                
    script(type='text/javascript', src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js')
    script(type='text/javascript', src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css')
    script(type="text/javascript", src="/controllers/tenantBugsController.client.js")

  