extends layout.pug

block alerts
    //.alert.alert-info#downloadAlert(style="display: none") Please check your default Downloads folder for your exported Excel sheet.
    .alert.alert-info.alert-dismissible#downloadAlert(style="display: none") Please check your default Downloads folder for your exported Excel sheet.
      a.close(href='#', data-dismiss='alert', aria-label='close') &times;

block content
  .container
    .alert.alert-info#wrongTenant(style="display: none") You are not a user of this tenant, so you cannot view this tab.
    br
    if elite
        p.heading-text Bugs Submitted by MVPs
        p.validation-progress.centered
        p#tenantId(style="display: none") elite
    else if tenant
        p.heading-text Bugs Submitted by #{tenant.name} Users
        p.validation-progress.centered
        p#tenantId(style="display: none") #{tenant.tid}
    else
        p.heading-text Bugs Submitted by a test tenant
        p.validation-progress.centered
        p#tenantId(style="display: none") aaaa-aaaa-aaaa-aaaa-aaaa
    p.less-subtle Click a bug's title to triage, comment, or close it.
    .container.centered
        p#loading(style="display: none")
            i.fa.fa-spin.fa-spinner  
            | Loading...
        p#errorMsg(style="display: none") Unable to fetch the bug list at this time - please try again later.
    br

    #bugsTableContainer(style="display: none")
        .centered
            .well
                i.fa.fa-check-square(style="margin-right: 5px;") 
                span Selected bugs: 
                button.btn.btn-primary#getBugbashList(disabled) Get list for bugbash
                button.btn.btn-primary#bulkClose(disabled) Bulk close
        table.table.table-bordered.table-responsive.table-striped.hugeTable#bugsTable
            tfoot(style="display: table-row-group;")
                tr
                    th
                    th
                    th
                    th
                    th
                    th
                    th
                    th
                    th
                    th
            thead(style="display: table-header-group;")
                tr
                    th(scope="col") 
                    th(scope="col") ID
                    th(scope="col") Reported
                    th(scope="col") Title
                    th(scope="col") Submitter
                    th(scope="col") State
                    th(scope="col") Reason
                    th(scope="col") Comments
                    th(scope="col") Triaged?
                    //th(scope="col") Status Tweet
                    //th(scope="col") Triaged?
                    th(scope="col", style="display: none") Repro Steps
                    //th(scope="col", style="display: none") History
                        
            tbody
    br
    br


    #bug-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='commentLabel', aria-hidden='true')
      #bug-id(style="display: none") Test
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true')
                i.fa.fa-times
            h5.modal-title#bugLabelHeader
          .modal-body
            //h4 Submission
            p#bug-submitter
            span#bug-reproSteps
            hr
            h4 Activity 
                span#bug-comments-count (0)
            .modal-scrollable(style="max-height: 35%; overflow-y: scroll;")
                span#bug-comments No activity yet.

            hr
            h4 Actions
            button.btn.btn-primary#openTriageForm(type="button" data-toggle="collapse" data-target="#triageForm") Triage...
            button.btn.btn-primary#openCommentForm(type="button" data-toggle="collapse" data-target="#commentForm") Comment...
            button.btn.btn-primary#openCloseForm(type="button" data-toggle="collapse" data-target="#closeBugForm") Close...
            .collapse#triageForm
                .card.card-body
                    h4 Triage
                    .form-group
                        label(for="extentField") How many users are affected? 
                            span(style="color: red") (*)
                        br
                        label.radio-inline
                          input(type='radio', name='extentField', value='One')
                          | One
                        label.radio-inline
                          input(type='radio', name='extentField', value='Several')
                          | Several
                        label.radio-inline
                          input(type='radio', name='extentField', value='All')
                          | All
                    .form-group
                        label(for="ringsField") What rings are affected? 
                            span(style="color: red") (*)
                        br
                        label.checkbox-inline
                          input(type='checkbox', name='ringsField', value='R1.5')
                          | R1.5
                        label.checkbox-inline
                          input(type='checkbox', name='ringsField', value='R3')
                          | R3
                        label.checkbox-inline
                          input(type='checkbox', name='ringsField', value='R4')
                          | R4
                    .form-group
                        label(for="everWorkedField") Has this ever worked? 
                            span(style="color: red") (*)
                        br
                        label.radio-inline
                          input(type='radio', name='everWorkedField', value='Yes')
                          | Yes
                        label.radio-inline
                          input(type='radio', name='everWorkedField', value='No')
                          | No
                    .form-group
                        label(for='validationField') If this bug is related to an ongoing validation, select the validation.
                        input.form-control#validationField(type='text' list='validations')
                        datalist#validations
                            each val in validations
                                option(value=val.name) #{val.name}
                        p#validation-warning(style="display: none; color: red") Please select a validation from the above list.

                        
                    button.btn.btn-primary#triageSubmit(style="float: right" disabled) Submit triage
                    br
            .collapse#commentForm
                h4 Comment
                .card.card-body
                    form#comment-submit-form(enctype="multipart/form-data" method="post")
                        .form-group
                            label(for="commentField") Comment: 
                                span(style="color: red") (*)
                            textarea.form-control#commentField(rows=3, placeholder="Enter your comment...")
                        .form-group
                            label(for="windws-report-file") File Upload:
                            input#commentFileUpload(type="file" name="userPhoto")
                        button.btn.btn-primary#commentSubmit(style="float: right" type="submit" name="submit" disabled) Submit
                    br
            .collapse#closeBugForm
                h4 Close Bug
                .card.card-body
                    .form-group
                        label(for="closeCommentField") Reason: 
                            span(style="color: red") (*)
                        textarea.form-control#closeCommentField(rows=2, placeholder="Explain why the bug should be closed.")
                        label(for="duplicateIdField") Duplicate of:
                        input.form-control#duplicateIdField(type="text", placeholder="If this is a duplicate of another bug, enter its ID. ex. 123456")
                        //input.form-control#duplicateIdField(type='txt' list='duplicateBugs')
                        p#duplicate-warning(style="display: none; color: red") Please enter a bug ID from the table.
                        //datalist#duplicateBugs
                    button.btn.btn-primary#closeSubmit(style="float: right" disabled) Close bug
                    br
            br
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
            //button.btn.btn-secondary(type='button', data-dismiss="modal") Cancel
            //button.btn.btn-default#submitComment(type='button', data-dismiss="modal") Submit


    #bugbash-list-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='commentLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true')
                i.fa.fa-times
            h5.modal-title Bugbash List
          .modal-body
            p You can use this list to quickly reference a set of bugs. 
            p Copy the table and paste it the chat of a bugbash or chat with a TAP team member.
            table.table.table-striped(style="font-size: 12px")#bugbash-table
                thead
                    tr
                        th(scope="col") ID
                        th(scope="col") Title
                tbody#bugbash-table-tbody
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close

    #bulk-close-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='commentLabel', aria-hidden='true')
      #bug-ids(style="display: none") Test
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true')
                i.fa.fa-times
            h5.modal-title Bulk bug closure
          .modal-body
            p These bugs will be closed:
            table.table.table-striped(style="font-size: 12px")#bulk-close-table
                thead
                    tr
                        th(scope="col") ID
                        th(scope="col") Title
                tbody#bulk-close-table-tbody
            br
            .form-group
                label(for="bulkCloseCommentField") Reason: 
                    span(style="color: red") (*)
                textarea.form-control#bulkCloseCommentField(rows=2, placeholder="Explain why these bugs should be closed.")
                label(for="bulkDuplicateIdField") Duplicate of:
                input.form-control#bulkDuplicateIdField(type="text", placeholder="If this is a duplicate of another bug, enter its ID. ex. 123456")
                p#bulkDuplicate-warning(style="display: none; color: red") Please enter a bug ID from the table.
            button.btn.btn-primary#bulkCloseSubmit(style="float: right" disabled) Close bugs
            br
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                
    script(type='text/javascript', src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js')
    //script(type='text/javascript', src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js')
    //link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-html5-1.6.1/datatables.min.css')
    script(type='text/javascript', src='https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-html5-1.6.1/datatables.min.js')
    script(type="text/javascript", src="/controllers/tenantBugsController.client.js")

  