extends layout.pug

block content
  .container
    br
    br
    p.clementine-text Validations Portal
  .container

    br
    p This is the landing page for the validation tab client. Nothing to be done here.
      

block morescripts
  script(type='text/javascript', src='/controllers/validationController.client.js', )