extends layout.pug

block content
  .container
    br
    p.heading-text Known Issues
    p.validation-progress.centered

    br

    .container
        if issues.length > 0
            table.table.table-bordered.table-responsive.table-striped#issuesTable
                thead(style="display: table-header-group;")
                    tr
                        th(scope="col") ID
                        th(scope="col") Validation
                        th(scope="col") Name
                        th(scope="col") Date Reported
                tbody
                    each issue in issues
                        tr
                            td #{issue.id}
                            - var valList = "";
                            for tag in issue.fields["System.Tags"].split("; ")
                                - console.log(tag)
                                if ((tag != "TAPKnownIssues") && (tag != "TAP"))
                                    for val in validations
                                        if val.tag == tag
                                            - valList = val.name
                            td #{valList}
                            td #{issue.fields["System.Title"]}
                            td #{new Date(issue.fields["System.CreatedDate"]).toLocaleDateString()}
        else
            p No known issues at this time.

                
    //script(type="text/javascript", src="/controllers/caseController.client.js")