/****** Main Styling ******/

body {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    background-color: #F3F2F1;
    color: #16233A;
}

a {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
}

p {
    margin: 4px 0 4px 0;
}

.centered {
    text-align: center;
}

.display-flex-center {
    display: flex;
    align-items: center;
}

.case-text {
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    font-weight: normal;
    display: inline;
}

.case-description {
    text-align: left;
}

.d-none {
    display: none;
}

.well {
    word-break: break-word;
    background-color: #F4F4f4;
}

p.not-centered {
    text-align: unset;
}

//.container p {
    padding: 0;
}

.panel {
    margin-bottom: 15px !important;
}

.panel-group {
    margin-bottom: 10px;
}

.panel-heading {
    background-color: #f9f9f9 !important;
    border-top-style: solid;
    border-top-width: 0.2rem;
}

.panel-body {
    background-color: #f9f9f9 !important;
}

.group-panel-heading {
    background-color: #Ffffff !important;
}

.group-panel-body {
    background-color: #Ffffff !important;
}

/****** Logo Div Styling ******/

img {
    display: block;
}

.clementine-text { /* Styling for the Clementine.js text */
    padding: 0;
    margin: -25px 0 0 0;
    font-weight: 500;
    font-size: 36px;
    color: #5356aa;
    text-align: center;
}

.heading-text { /* Styling for the Clementine.js text */
    padding: 0;
    margin: 0px 0 0 40px;
    font-weight: 500;
    font-size: 20px;
    color: #5356aa;
}

/****** Click Styling ******/

.btn-container { /* Styling for the div that contains the buttons */
    margin: -10px auto 0 auto;
    text-align: center;
}

.btn {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: .1rem solid transparent;
    height: 3.2rem;
    padding: 0 2rem;
    padding-top: 0px;
    padding-right: 1.5rem;
    padding-bottom: 0px;
    padding-left: 1.5rem;
    width: auto;
    max-width: calc(100% - 2 * .4rem);
    margin: .4rem;
    font-weight: 600;
    position: relative;
    border-color: #e2e2f6;
    border-top-color: rgb(226, 226, 246);
    border-right-color: rgb(226, 226, 246);
    border-bottom-color: rgb(226, 226, 246);
    border-left-color: rgb(226, 226, 246);
    color: #6264a7;
    background-color: #fff;
}

    .btn:hover {
        background-color: #F4F4FC;
        border-color: #BDBDE6;
        box-shadow: none !important;
    }

    .btn.active {
        background-color: #E4E4EC;
        border-color: #BDBDE6;
        box-shadow: none !important;
    }

.btn-secondary {
    color: #000000;
    border-color: #C9CAE6;
}

.btn-default { /* Styling for buttons */
    color: #EEF1F5;
    background-color: #6264a7;
}

    .btn-default:hover {
        color: #EEF1F5;
        background-color: #4B4F9D;
    }

    .btn-default:active {
        color: #EEF1F5;
        background-color: #444B93;
    }

    .btn-default:visited {
        color: #EEF1F5;
        background-color: #444B93;
    }

    .btn-default:focus {
        color: #EEF1F5;
        background-color: #5458AF;
    }

    .btn-default[disabled]:hover {
        background-color: #9596C1;
    }

    .btn-default[disabled]:focus {
        background-color: #9596C1;
    }

.bug {
    padding: 10px;
    margin: 10px 100px 10px 100px;
    display: flex;
    list-style-position: outside;
}

.case {
    border-color: #EDEBE9;
    background-color: #FFFFFF;
    padding: 10px;
    margin: 20px 10px 20px 10px;
    display: flex;
    list-style-position: outside;
    box-shadow: 0 0.2rem 0.4rem -0.075rem rgba(0,0,0,.1);
    border-radius: .3rem;
}

.subtle {
    color: #888888;
    font-size: 8px;
}

.vote {
    color: #111111;
    font-size: 10px;
}

.newBugDescription {
    width: 400px;
}

.newCaseDescription {
    width: 400px;
    min-width: 100%;
    max-width: 100%;
    text-wrap: normal;
}

.newCaseTitle {
    width: 380px;
    min-width: 100%;
    max-width: 100%;
}

.longTextArea {
    width: 400px;
}

.deep-link {
    text-decoration: underline;
}

    .deep-link:hover {
        text-decoration: none;
        cursor: pointer;
    }

.showbtn:hover {
    text-decoration: none;
    cursor: pointer;
}

.delete:hover {
    text-decoration: none;
    cursor: pointer;
}

.edit-existing-feedback {
    cursor: pointer;
    text-decoration: none;
}

.edit-freq:hover {
    cursor: pointer;
    text-decoration: none;
}

.upvotes {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 175px;
}

.downvotes {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 175px;
}

p.editor-default {
    text-align: left;
}

.btn-group {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#validation-id {
    display: none;
}

.caseCount {
    margin-right: 5px;
    position: relative;
    float: left;
    display: inline-block;
}


.btn-primary {
    background-color: #5558AF;
    color: #FFFFFF;
}

    .btn-primary:hover {
        background-color: #22267c;
        color: #FFFFFF;
    }

    .btn-primary:focus {
        background-color: #6264A7;
        color: #FFFFFF;
    }

.tooltip-inner {
    max-width: 350px; /* set this to your maximum fitting width */
    width: inherit; /* will take up least amount of space */
}

/* Collapsible things */

.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}

.panel-heading a.collapsed:after {
    content: "\e080";
}

#commentField {
    width: 100%;
}

.safe-label {
    display: inline;
}

.section-works {
    border-top-color: #00CC6A !important;
}

.case-works {
    border-top-color: #00CC6A !important;
}

.case-fails {
    border-top-color: #FF0000 !important;
}

.toggle-collapse:hover {
    cursor: pointer;
}

.group-progress {
    float: right;
    margin-right: 20px;
}

span.tenant, span.email {
    font-size: 11px;
}

.bug-modal-launch:hover {
    cursor: pointer
}

.thumb-label {
    display: inline;
}

.fa-thumbs-up {
    color: #5558AF;
    font-size: 12px;
    line-height: 32px;
    display: inline !important;
}

.client-spin {
    line-height: 32px;
}

.fa-thumbs-down {
    color: red;
    font-size: 12px;
    line-height: 32px;
    display: inline !important;
}

.client-checkboxes {
    font-size: 14px;
    text-align: center;
}

.inline-icon {
    width: 24px;
    margin: 0px 2px 0px 0px;
    display: inline-block;
    float: left;
}

.btn-group label {
    line-height: 32px;
}

.radio-btn {
    text-overflow: clip !important;
}

.greyed-out {
    color: #aaaaaa !important;
}

.old-validation * {
    color: #aaaaaa !important;
}

.current-validation * {
    color: darkblue !important;
}

.votes-table {
    font-size: 10px;
}

.dataTables_empty {
    display: none;
}

.label {
    margin-bottom: 5px;
    margin-top: 5px;
}

.product-icon {
    width: 20px;
    margin: -2px 2px 0px 0px;
    display: inline-block;
}

.label-primary {
    background-color: #6264a7;
}

.tap-label {
    float: right;
}

.lighter-label {
    font-weight: 600;
}

.bug-modal-launch {
    font-size: 12px;
}

.hugeTable {
    font-size: 11px;
}

.fenix-dev {
    background-color: #cadce2;
    margin-right: 60px;
}

.fenix-customer {
    background-color: #e2f3e2;
    margin-left: 50px;
    margin-right: 10px;
}

.fenix-dev-nametag {
    text-align: left;
    margin-right: 10px;
}

.fenix-customer-nametag {
    text-align: right;
    margin-right: 10px;
}

.radio-inline {
    margin-right: 20px;
}

.checkbox-inline {
    margin-right: 20px;
}

@media screen and (min-width: 768px) {
    .modal-dialog {
        width: 700px; /* New width for default modal */
    }

    .modal-sm {
        width: 350px; /* New width for small modal */
    }
}

@media screen and (min-width: 992px) {
    .modal-lg {
        width: 950px; /* New width for large modal */
    }
}

.feedback-text {
    display: block;
    overflow: hidden;
    width: 90%;
    height: 100%;
}

.editable-text {
    display: block;
    overflow: hidden;
    width: 90%;
    height: 100%;
}

.progress-bar {
    background-color: #6264a7 !important;
}

.progress {
    border: gray 1px solid !important;
}

.feedback-table {
    font-size: 12px;
}

.feature-request-table {
    font-size: 12px;
}

.edit-featureRequest-pencil {
    float: left;
}

.edit-feedback {
    float: left;
}

.role-info {
    width: 100%;
    color: #252423;
    border-radius: 6px;
}

#role-select-form {
    width: 500px;
    height: 500px;
    margin: auto;
    left: 50%;
    top: 50%;
}

.logo-icon {
    height: 24px;
    float: left;
    margin: 10px 4px 10px 0px;
    vertical-align: middle;
}

.logo-text {
    float: left;
    vertical-align: middle;
}

.modal-backdrop {
    visibility: hidden !important;
}

.modal.in {
    background-color: rgba(0,0,0,0.5);
}

.upvote-feedback {
    margin: unset;
}

.comment-feedback {
    margin: unset;
}

.upvote-general-feedback {
    margin: unset;
}

.comment-general-feedback {
    margin: unset;
}