/****** Main Styling ******/

body {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    background-color: #EEF1F5;
    color: #16233A;
}

a {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
}

p {
    margin: 8px 0 0 0;
}

.centered {
    text-align: center;
}

.case-text {
    font-family: "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: normal;
    display: inline;
}

.case-description {
    text-align: left;
}

p.not-centered {
    text-align: unset;
}

//.container p {
    padding: 0;
}

/****** Logo Div Styling ******/

img {
    margin: 20px auto 0 auto;
    display: block;
}

.clementine-text { /* Styling for the Clementine.js text */
    padding: 0;
    margin: -25px 0 0 0;
    font-weight: 500;
    font-size: 36px;
    color: #5356aa;
    text-align: center;
}

/****** Click Styling ******/

.btn-container { /* Styling for the div that contains the buttons */
    margin: -10px auto 0 auto;
    text-align: center;
}

.btn {
    margin: 0 8px;
    border-radius: 3px;
    color: #EEF1F5;
}

.btn-secondary {
    color: #000000;
}

.btn-default { /* Styling for buttons */
    color: #EEF1F5;
    background-color: #5458AF;
}

    .btn-default:hover {
        color: #EEF1F5;
        background-color: #4D50A1;
    }

    .btn-default:active {
        color: #EEF1F5;
        background-color: #444B93;
    }

    .btn-default:visited {
        color: #EEF1F5;
        background-color: #444B93;
    }

    .btn-default:focus {
        color: #EEF1F5;
        background-color: #5458AF;
    }

    /*   These colors aren't pretty enough yet
.btn-upvote {
    background-color: #7FBA00;
}

.btn-downvote {
    background-color: #C50E2E;
}
        */

.bug {
    padding: 10px;
    margin: 10px 100px 10px 100px;
    display: flex;
    list-style-position: outside;
}

.case {
    background-color: #DEE0E3;
    padding: 10px;
    margin: 20px 10px 20px 10px;
    display: flex;
    list-style-position: outside;
}

.subtle {
    color: #888888;
    font-size: 10px;
}

.vote {
    color: #111111;
    font-size: 12px;
}

.newBugDescription {
    width: 400px;
}

.newCaseDescription {
    width: 400px;
    min-width: 100%;
    max-width: 100%;
    text-wrap: normal;
}

.newCaseTitle {
    width: 380px;
    min-width: 100%;
    max-width: 100%;
}

.longTextArea {
    width: 400px;
}

.deep-link {
    text-decoration: underline;
}

    .deep-link:hover {
        text-decoration: none;
        cursor: pointer;
    }

.showbtn:hover {
    text-decoration: none;
    cursor: pointer;
}

.delete:hover {
    text-decoration: none;
    cursor: pointer;
}

.upvotes {
    overflow-y: auto;
    max-height: 175px;
}

.downvotes {
    overflow-y: auto;
    max-height: 175px;
}

p.editor-default {
    text-align: left;
}

.btn-group {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#validation-id {
    display: none;
}

.caseCount {
    margin-right: 5px;
    position: relative;
    float: left;
    display: inline-block;
}

/*
.btn-primary {
    background-color: #5558AF;
}

.btn-primary:hover {
    background-color: #22267c;
}
    */

.tooltip-inner {
    max-width: 350px; /* set this to your maximum fitting width */
    width: inherit; /* will take up least amount of space */
}

/* Collapsible things */

.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}

.panel-heading a.collapsed:after {
    content: "\e080";
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

#commentField {
    width: 100%;
}

.safe-label {
    display: inline;
}